body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #121212;
  line-height: 1.5;
  background-color: #0d326d;
}

/* Authorization */

.auth {
  width: 260px;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
}

.auth-title {
  font-size: 20px;
  color: #c61919;
  text-align: center;
  margin: 0 0 15px;
}

/* Input */

.form-group {
  margin-bottom: 15px;
}

.input {
  display: block;
  width: 238px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 15px;
  background-color: #fff;
}

.input:focus {
  outline: none;
  border-color: #28cbd1;
}

/* Select */

.select {
  display: block;
  width: 260px;
  height: 35px;
  background-color: #fff;

  padding: 8px 10px;
  border: 1px solid #ccc;

  font-family: inherit;
  font-size: 15px;
}

.select:focus {
  outline: none;
  border-color: #28cbd1;
}

/* Button*/

.btn {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 260px;
  border: 0;
  background-color: #4bb91b;
  padding: 10px;
  color: #fff;
}

.btn:hover {
  background-color: #41aa14;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  background-color: #41aa14;
}

.btn:active {
  background-color: #36980d;
}
