body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
  margin: 0;
  /* background: url(../Img/repeatable.jpg);
  background-size: 100px 100px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -2px;
  font-weight: 700px;
  text-align: center;
  font-weight: 100;
}

.justify {
  text-align: justify;
  font-weight: normal;
  font-style: italic;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  color: lightskyblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol {
  list-style-type: decimal-leading-zero;
}

.table {
  width: 100%;
  border: 2px dashed #aaa;
  border-collapse: collapse;
}

.table th {
  padding: 5px 10px;
  text-align: left;
  color: red;
}

.table td {
  border: 2px dashed #aaaaaa;
  padding: 5px 10px;
}

.table tfoot td {
  text-align: right;
}

.text-red {
  color: red;
  font-weight: 700px;
  font-style: italic;
  display: inline-block;
  padding: 10px;
}

.content {
  margin: auto auto;
  width: 400px;
}

.container {
  width: 800px;
  height: 400px;
  padding: 20px;
  margin: 20px auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: red;

  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: none;
}

/* Post */

.post {
  width: 700px;
  height: 400px;
  margin: auto auto;
  border: 1px solid #ddd;
  padding: 15px 25px;
  background-color: #fff;
  background-image: url(img/space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: yellow;
}

.post-text {
  color: white;
}

.post-text p {
  margin: 0 0 10px 0;
}

/* Gradient */

.gradient {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #fff, #000);
}

/* Forms */

.form {
  width: 500px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  font-family: Arial, Helvetica, sans-serif;

  padding: 5px;
  border: 1px solid #000;
  font-size: 15px;
  display: block;
}

.form-input:hover {
  outline: 0;
  background-color: lightblue;
}

.form-textarea {
  font-family: Arial, Helvetica, sans-serif;

  width: 200px;
  height: 150px;
  padding: 5px;

  border: 1px solid #000;
  resize: none;

  font-size: 15px;
}

.form-textarea:focus {
  outline: 0;
  background-color: lightblue;
}

.form-fieldset {
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.form-title {
  margin: 0 0 15px;
}

/* Active objects */

.link {
  text-decoration: none;
  color: #1d76dd;
}

.link:visited {
  color: rgb(138, 0, 138);
}

.link:hover {
  background-color: #ccc;
  text-decoration: underline;
}

.btn {
  background-color: greenyellow;
  color: #fff;
  border: 1px solid green;
  padding: 5px 10px;

  transition: background 0.2s linear;
}

.btn:hover {
  background-color: green;
  cursor: pointer;
}

.btn:active {
  background-color: blue;
}

/* Sauqre */

.modal {
  width: 500px;
  height: 200px;
  margin: 20px auto;
  padding: 15px;
  position: relative;

  background-color: #333;
}

.modal-title {
  margin: 0;
  color: #000;
}

.square {
  width: 50px;
  height: 50px;

  background-color: rgb(82, 79, 79);

  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
}

.square.red {
  background-color: red;
  right: -15px;
  top: -5px;
  z-index: 1;
}

.square-fixed {
  width: 50px;
  height: 50px;

  background-color: #1165ad;

  position: fixed;
}

/* Psevdo */

.psevdo-title {
  margin: 0;
  position: relative;

  font-size: 30px;
  text-align: center;
}

.psevdo-title::before {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  margin-left: -35px;

  background-color: #d03014;

  position: absolute;
  bottom: -5px;
  left: 50%;
}

.psevdo-title::after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 70px;
  height: 3px;

  background-color: #274fbc;
}

.psevdo-text p::first-letter {
  font-size: 50px;
}

.psevdo-text p::first-line {
  color: red;
}

/* CSS3 */

.element {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;

  box-sizing: border-box;

  background-color: #e0e0e0;
  border-radius: 20px;
  box-shadow: -5px 5px 5px #a2a2a2 inset, -10px 5px 20px #c6c6c6;
  opacity: 1;
}

.element-title {
  margin: 0;
  text-align: center;

  text-shadow: -5px 5px 5px #a2a2a2, -5px 5px 5px #a74343;
}

/* Video & Audio */

.video {
  width: 720;
  height: 405px;
  margin: 50px;
  text-align: center;
  margin-left: 400px;
  border: 2px solid rgb(53, 172, 53);

  display: block;
}
